@font-face {
    font-family: 'Fixel';
    src: url('/public/fonts/filex.otf') format('opentype');
}

body{
    background-image: linear-gradient(242deg, #d99c9d, #8677d9 51%, #6072cc);
    font-family: 'Fixel', sans-serif;
}

.btn{
    color: white;
    font-size: 1vw;
    background-color: black;

    border-radius: 16px;
    padding: 10px;
    margin: 10px;
}
.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

.btn:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.app-container{
    background-image: linear-gradient(242deg, #d99c9d, #8677d9 51%, #6072cc);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp-grid {
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.inp-grid:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

.inp-grid:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.txt-main{
    font-size: 3vw;
    text-align: center;
}

.txt-normal{
    font-size: 1.50vw;
}

.inp-info{
    display: grid;
    margin: 10px;
    gap: 6px;
}

.inp-help{
    margin-top: 3vw;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 1vw;

}

.app-info{
    width: calc(60vw - 200px);
    height: calc(90vh - 150px);
    display: flex;
    border-radius: 24px;
}

.app-menu-r, .app-menu-s {
    flex: 1;
}

.app-menu-s{
    background-color: white;
    align-content: center;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
}
.app-menu-r{
    background-color: #f2f4f5;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    display: flex;
    justify-content: center;
}

img{
    width: 24vw;
    height: auto;
}

